<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>YouTube to MP3 Converter</title>
</head>
<body>
<div class="converter-container">
    <label for="videoUrl">Insira o link do vídeo do YouTube:</label>
    <input type="text" id="videoUrl" placeholder="Cole o link aqui...">
    <button onclick="convertToMP3()">Converter para MP3</button>
    <a id="downloadLink" style="display: none;" download>Download do MP3</a>
</div>

<script src="../static/index.js"></script>
</body>
</html>
